*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
background-color: #333;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.keyboard{
    width: 1340px;
    height: 590px;
    border: 10px solid #333;
    /* border: 10px solid #333; */
    box-shadow: 5px 5px 10px rgba(255, 255, 255, 0.1), -15px -15px 20px rgba(0, 0, 0, 0.35), inset 5px 5px 20px rgba(255, 255, 255, 0.1),inset -5px -15px 20px rgba(0, 0, 0, 0.35);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 58px;
     
}

.keyboard .buttons{
    position: relative;
    width: 100%;
    text-align: center;
    

}

.keyboard .buttons span{
   margin-left: 20px;
   /* border: 1px solid #fff; */
   padding: 20px;
   box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.35), -5px -5px 10px rgba(255, 255, 255, 0.1);
   border-radius: 8px;
   text-transform: uppercase;
   color: #fff;
   
}


.keyboard #six .spacebar{
    background-color: #31a935;
    padding: 20px 170px;
}

